#home-button {
    width: 50px;
    height: 50px;
    background-image: url('https://cdn-icons-png.flaticon.com/128/1828/1828864.png');
    border: none;
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
}

#home-button:hover {
    transform: scale(1.05);
}

#game-button {
    width: 50px;
    height: 50px;
    background-image: url('https://cdn0.iconfinder.com/data/icons/phosphor-regular-vol-3/256/game-controller-256.png');
    border: none;
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
    position: fixed;
    top: 0%;
    left: 4%;
    transform: translate(-4%, -0%);
}

#game-button:hover {
    transform: scale(1.05);
}

button {
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05)
}

#tom {
    width: 100px; /* Set the desired width for the button */
    height: 100px; /* Set the desired height for the button */
    background-image: url('/images/unnamed.png'); /* Replace with the path to your image */
    background-size: cover; /* Ensure the background image covers the entire button */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    border: none; /* Remove button border */
    display: inline-block; /* Make the button an inline block */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 8px;
    padding: 10px 15px;
    margin: 10px;
    position: fixed;
    top: 10;
    left: 10;
}

#tom:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
